node_modules/
boilerplates/
packages/*/node_modules
packages/*/dist
packages/*/es
packages/*/lib
boilerplates/*/node_modules
boilerplates/*/build
boilerplates/*/dist
boilerplates/*/*/node_modules
boilerplates/*/*/build
boilerplates/*/*/dist
boilerplates/*/liferay
